table{
    border-spacing: 0px;
}
th, td{
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
}
th, td{
    color: #737476;
    text-align: left;
    background-color: #737476;
    border-top: 1px solid #f1f8fe;
    border-bottom: 1px solid #cbd2d8;
    border-right: 1px solid #cbd2d8;
}
tr.head th{
    color: #f1f8fe;
    background-color: aqua;
    border-bottom: 2px solid #547ca0;
    border-right: 1px solid #749abe;
    border-top: 1px solid #90b3d6;
    text-align: center;
    text-shadow: -1px - 1px 1px #666;
    letter-spacing: o.15em;
}
